/* custom-default.css */
/* @theme custom-default */

@import 'default';

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}
.columns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
} 
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}
.fa-twitter { color: aqua; }
.fa-mastodon { color: purple; }
.fa-linkedin { color: blue; }
.fa-window-maximize { color: skyblue; }
.fa-bluesky { color: skyblue; }

svg[id^="mermaid-"] { 
  max-width: 960px; 
  max-height: 600px; 
}

table {
  font-size: 0.85em;
  line-height: 1.3;
  width: 100%;
}
th {
  background-color: #0078d4;
  color: white;
  text-align: left;
  padding: 5px;
}
td {
  padding: 5px;
  vertical-align: top;
}

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css'